.success_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 349px;
}

.checked {
  width: 80px;
  height: 80px;
}

h1 {
  margin-top: 35px;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 3.42px;
}

h2 {
  margin-top: 16px;
  margin-bottom: 48px;
  color: #8f8694;
  font-size: 18px;
  font-weight: 500;
}
